* {
    /* margin: 0; */
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Lato';
}


#container h1,
#container p {
    text-align: center;
}

#container h1 {
    color: #4F4F4F;
    text-transform: capitalize;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 8px;
}

#container p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #828282;
    margin-top: 8px;
}

#signup-form {
    width: 442px;
    height: 360px;
    background: #FFFFFF;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.16);
    border-radius: 16px;
    padding: 60px 40px;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center ;
}

input {
    width: 346px;
    height: 37px;
    padding: 16px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 11px;
    margin-bottom: 24px;
}

.input-group input,
.input-group label {
    margin-left: 40px;
}

#button {
    margin-left: 40px;
    width: 346px;
    height: 56px;
    background: #35CE97;
    border: 1px solid #35CE97;
    box-sizing: border-box;
    border-radius: 88px;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #F2F2F2;
}

#navbar {
    background-color: #FFFFFF;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

#image {
    padding: 21px 0px 20px 80px;
}

.content  {
    background: #FFFFFF;
    padding: 24px 0px 24px 0px;
    /* font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px; */
}

.content a {
    margin-left: 32px;
    text-decoration: none;
    color: #333333;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.signin {
    padding: 16px 80px;
}

.signin button {
    width: 85px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #35CE97;
    color: #35CE97;
    box-sizing: border-box;
    border-radius: 88px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}
#footer {
    width: 100%;
    height: 277px;
    background: #4F4F4F;
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    padding-right: 70px;
}

#contact {
    display: flex;
    justify-content: space-between;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.items a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #BDBDBD;
    text-decoration: none;
}
#footer {
    display: flex;
    flex-direction: column;
}
#footer .TITLE {
    width: 100%;
    height: 277px;
    background: #4F4F4F;
    margin: 24px;
    display: flex;
    justify-content: space-between;
}
.TITLE .footer-1 {
    padding: 18px 18px 18px 60px;
    flex-direction: row;
    display: flex;
    color: #F2F2F2;
    line-height: 1.5rem;

}
.items-cont {
    margin-right: 93px;
}
.items-cont .about a {
    font-size: 14px;
    text-decoration: none;
    line-height: 17px;
    color: #F2F2F2;
    margin-bottom: 5px;
}
.items-cont a {
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: #BDBDBD;
    margin-bottom: 10000px;
}
.title-info .info a {
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    margin-bottom: 5px;
    color: #F2F2F2;
}
.title-info a {
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    
    color: #BDBDBD;
}
#footer-2 {
    padding-top:24px;
}
#img p{
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
    margin: 2px;
}
    .img-1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 5px;
    
    }
    .img-1 img {
        padding: 24px;
    }
    .img-1 img.facebook-icon{
        width: 10.15px;
        height: 21.76px;
    }

    .img-1 img.twitter-icon{
        width: 19.36px;
        height: 16px;
        
    }

    .img-1 img.instagram-icon{
        width: 21.33px;
        height: 21.33px;
    }

    .img-1 img.be-icon{
        width: 40px;
        height: 40px;
        padding-top: 15px;
    }
.footer-3 {
    padding-bottom: 16px;
    padding-left: 80px;
    font-size: 14px;
    line-height: 17px;
    color: #BDBDBD;
}
